{% extends 'base.html' %}

{% block title %}
Страница о нас
{% endblock %}

{% block body %}
<h1>
    Список Сотрудников
</h1>
-------------------------------------------------------------
<p>
    <b>Сотрудник номер 1</b>
    <p>email:</p>
    <p>adress:</p>
    <p>phone:</p>
    <b>Сотрудник номер 2</b>
    <p>email:</p>
    <p>adress:</p>
    <p>phone:</p>
    <b>Сотрудник номер 3</b>
    <p>email:</p>
    <p>adress:</p>
    <p>phone:</p>
    <b>Сотрудник номер 4</b>
    <p>email:</p>
    <p>adress:</p>
    <p>phone:</p>
    <b>Сотрудник номер 5</b>
    <p>email:</p>
    <p>adress:</p>
    <p>phone:</p>
    <b>Сотрудник номер 6</b>
    <p>email:</p>
    <p>adress:</p>
    <p>phone:</p>
    <b>Сотрудник номер 7</b>
    <p>email:</p>
    <p>adress:</p>
    <p>phone:</p>
    <b>Сотрудник номер 8</b>
    <p>email:</p>
    <p>adress:</p>
    <p>phone:</p>
    <b>Сотрудник номер 9</b>
    <p>email:</p>
    <p>adress:</p>
    <p>phone:</p>
    <b>Сотрудник номер 10</b>
    <p>email:</p>
    <p>adress:</p>
    <p>phone:</p>
</p>
{% endblock %}