{% extends 'base.html' %}

{% block title %}
Законодательство
{% endblock %}

{% block body %}
<h1>Законодательство</h1>
<p>
    Авиацио́нная безопа́сность — комплекс мер, а также людские и материальные ресурсы, предназначенные для защиты гражданской авиации от актов незаконного вмешательства[1]. С точки зрения российского законодательства, авиационная безопасность определяется как состояние защищённости авиации от незаконного вмешательства в деятельность в области авиации[2].

    Общая характеристика
Ежедневно сотни тысяч людей пользуются услугами гражданской авиации, что является потенциальной целью для терроризма и других форм преступности из-за наличия большого количества людей в одном месте. По данным международных источников, только в 2013 году в мире гражданской авиацией было перевезено свыше 755 миллионов зарегистрированных пассажиров[3].

После террористических актов 11 сентября 2001 года в США, когда угнанные воздушные суда террористы использовали как смертельное оружие, во многих странах мира изменилось отношения к авиационной безопасности.

Во многих странах изменилось законодательство с целью усиления авиационной безопасности. В США принимается Закон об авиационной и транспортной безопасности[англ.] и создается «Администрация транспортной безопасности» (англ. Transportation Security Administration (TSA)). В Канаде создается «Канадская служба безопасности воздушного транспорта» (англ. Canadian Air Transport Security Authority (CATSA))[4].

В Европейском союзе в 2002 году Постановлением № 2320/2002 введено требование о проведении проверок безопасности на всех пассажирских рейсах, в том числе внутренних. А Регламент (ЕС) № 300/2008 Европейского парламента и Совета устанавливает общие в Европейском союзе правила защиты гражданской авиации от актов незаконного вмешательства[5].

В Германии, учитывая положения Постановления ЕС № 2320/2002 11 января 2005 года, был принят Федеральный закон «Закон авиационной безопасности»[нем.].

Обеспечение авиационной безопасности
К обеспечению авиационной безопасности существует различный подход.

Например в Австралии обеспечение авиационной безопасности возложена на Австралийскую федеральную полицию (англ.The Australian Federal Police (AFP)). Сотрудники AFP Airport Operations обеспечивают авиационную безопасность в девяти крупных австралийских аэропортах Сидней, Мельбурн, Брисбен, Перт, Аделаида, Кэрнс, Голд-Кост, Канберра, Дарвин[6].

В Ирландии например обеспечением авиационной безопасности занимается специальная полицейская служба The Airport Police Service (APS)[англ.] (ирл. Éire Póilíní an Aerfoirt).

В Пакистане авиационной безопасностью занимается Служба безопасности аэропортов (англ.The Airports Security Force (ASF)), являющейся структурным подразделением Авиационного отдела (департамент правительства Пакистана)[7].

Не редко в качестве сил обеспечивающих авиационную безопасность используют частные охранные организации, ведомственную или военизированную охрану.

В России обеспечением авиационной безопасности занимаются созданные в 1994-1997 года Службы авиационной безопасности (САБ) аэродромов и аэропортов, авиапредприятий, службами ведомственной охраны.[2] В марте 1997 года был принят Воздушный кодекс РФ, в котором впервые появилась глава «Авиационная безопасность», раскрывающая вопросы деятельности САБ.

Документы, подтверждающие соответствие юридического лица Федеральным авиационным правилам, и предоставляющие разрешение на деятельность по обеспечению авиационной безопасности, в России выдаются Федеральным агентством воздушного транспорта[8], в других странах соответствующими аналогичными ведомствами.

Обучение на специалиста по обеспечению авиационной безопасности производится в авиационных училищах гражданской авиации (например, УИ ГА)[9]. Так же подготовкой и переподготовкой специалистов по авиационной безопасности осуществляется в учебных центрах по авиационной и транспортной безопасности при аэропортах (Шереметьево[10], Домодедово[11]).


Рентгеновские сканеры и металлоискатели, используемые для проверки пассажиров службой авиационной безопасности аэропорта
Основными целями обеспечения авиационной безопасности являются устойчивое и безопасное функционирование воздушных судов, аэропортов и аэродромов, защита интересов личности, общества и государства в сфере деятельности гражданской авиации от актов незаконного вмешательства.

К актам незаконного вмешательства относятся акты или попытки совершения актов, угрожающих безопасности воздушного транспорта, например: незаконный захват или уничтожение воздушных судов (ВС); захват заложников на борту ВС или на аэродромах; насильственное проникновение на объекты гражданской авиации или размещение на них оружия, опасного устройства или материала с преступными целями; использование ВС с целью причинения смерти, тяжелых телесных повреждений или серьезного ущерба имуществу или окружающей среде; сообщение ложной информации, ставящей под угрозу безопасность ВС, пассажиров, членов экипажа, наземного персонала или общественности, в аэропорту или в расположении иных объектов гражданской авиации[12].

В Российской Федерации авиационная безопасность, как часть транспортной безопасности регламентируется Федеральным законом Российской Федерации от 9 февраля 2007 г. № 16-ФЗ «О транспортной безопасности», а также Постановлениями Правительства РФ и приказами Министерства транспорта РФ.

Все мероприятия по обеспечению авиационной безопасности предусмотрены международными стандартами Международной организации гражданской авиации (ИКАО) в области защиты гражданской авиации от актов незаконного вмешательства, и разрабатываются с учётом требований, установленных международными договорами Российской Федерации,Федеральным законом «О транспортной безопасности» от 09.02.2007 № 16-ФЗ, а также принимаемыми в соответствии с ними иными нормативными правовыми актами Российской Федерации.

Контроль и надзор за соблюдением законодательства Российской Федерации, в том числе международных договоров в сфере гражданской авиации, в части обеспечения транспортной безопасности осуществляет Ространснадзор[13].

Требования к специалистам по обеспечению авиационной безопасности
К работникам непосредственно связанным с обеспечением авиационной безопасности (во исполнение Федерального закона «О транспортной безопасности») предъявляются определённые требования. Так работниками службы авиационной безопасности не могут быть лица:

имеющие непогашенную или неснятую судимость за совершение умышленного преступления;
страдающие психическими заболеваниями, алкоголизмом, наркоманией, токсикоманией;
уволенные с государственной службы, в том числе из правоохранительных органов, органов прокуратуры или судебных органов в связи с совершением дисциплинарного проступка, грубым или систематическим нарушением дисциплины, совершением проступка, порочащего честь государственного служащего, утратой доверия к нему;
в отношении которых по результатам проверки, проведённой в соответствии с Федеральным законом «О полиции», имеется заключение органов внутренних дел о невозможности допуска к выполнению работ, непосредственно связанных с обеспечением транспортной безопасности;
внесённые в перечень организаций и физических лиц, в отношении которых имеются сведения об их причастности к экстремистской деятельности или терроризму;
подвергнутые административному наказанию за потребление наркотических средств или психотропных веществ без назначения врача либо новых потенциально опасных психоактивных веществ, до окончания срока, в течение которого лицо считается подвергнутым административному наказанию;
имеющие медицинские противопоказания к выполнению работ, непосредственно связанных с обеспечением транспортной безопасности, в соответствии с медицинским заключением, выданным в установленном порядке;
не прошедшие в порядке, установленном Федеральным законом, подготовку и аттестацию сил обеспечения транспортной безопасности;
сообщившие заведомо ложные сведения о себе при приёме на работу, непосредственно связанную с обеспечением транспортной безопасности.
Работники подразделений авиационной безопасности обязаны ежегодно проходить профилактические медицинские осмотры, включающие в себя химико-токсикологические исследования наличия в организме человека наркотических средств, психотропных веществ и их метаболитов, а также периодические проверки на пригодность к действиям в условиях, связанных с применением специальных средств.

Мероприятия по обеспечению авиационной безопасности
В целях обеспечения авиационной безопасности осуществляются мероприятия по обследованию (досмотру, дополнительному досмотру и повторному досмотру) физических лиц (пассажиров, членов экипажа ВС, работников авиакомпаний и аэропорта и др.), транспортных средств (воздушных судов, спецтехника ), грузов, багажа, ручной клади и личных вещей, находящихся у физических лиц, направленные на обнаружение оружия, взрывчатых веществ или других устройств, предметов и веществ, в отношении которых в соответствии с правилами установлены запрет или ограничение.

Так же в ходе досмотра в случаях, предусмотренных требованиями по обеспечению авиационной безопасности, проводятся наблюдение и (или) собеседование («профайлинг»), направленные на выявление физических лиц, в действиях которых усматриваются признаки подготовки к совершению актов незаконного вмешательства[14].

Лица, отказавшиеся от досмотра, на территорию аэродрома (аэропорта или ВС) не допускаются. Отказ пассажира от досмотра, дополнительного досмотра и повторного досмотра в целях обеспечения авиационной безопасности является основанием для расторжения договора перевозки в одностороннем порядке[15].

Правовые акты
Соглашение о сотрудничестве по обеспечению защиты гражданской авиации от актов незаконного вмешательства (Минск, 26 мая 1995 года)
Воздушный кодекс РФ, ст. 83, 84, 85, 85.1, 85.2.
Федеральный закон «О транспортной безопасности» от 09.02.2007 № 16-ФЗ
Приказ Минтранса РФ от 25.08.2015 № 264 Архивная копия от 22 июля 2018 на Wayback Machine
Приказ Министерства транспорта РФ от 23 июля 2015 г. № 227 Архивная копия от 18 мая 2019 на Wayback Machine «Об утверждении Правил проведения досмотра, дополнительного досмотра, повторного досмотра в целях обеспечения транспортной безопасности».
Приказ Министерства транспорта РФ от 25 июля 2007 г. № 104 "Об утверждении Правил проведения предполетного и послеполетного досмотров".
</p>
{% endblock %}